h1 {
  font-size: 24px;
}

.container {
  max-width: 100%;
}

#content > div {
  display: none;
}

.map {
  margin: 0;
  padding: 0;
  height: 700px;
  width: 100%;
}

#content > div > div > svg {
  /*height: 400px;*/
  /*margin-left: 40px;*/
}

.chart {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.chart-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.bs-footer {
  font-size: 12px;
  color: #888;
  text-align: center;
}

.question {
  font-size: 18px;
  color: #128fcf;
}

/*.bs-sidebar {*/
  /*width: 200px;*/
/*}*/

/*.col-md-3 {*/
  /*width: auto;*/
/*}*/

/*.col-md-9 {*/
  /*width: auto;*/
/*}*/
